<% comments = comments.sort_by {|comm| comm.vote_score}.reverse %>

<% comments.each do |comment| %>
  <% if !comment.created_at.nil? %>
    <div class = row >
      
      <span class="span0 well text-center">
        <% if current_user? %>
          <%= link_to(vote_post_comment_path(comment.post, comment, :vote => true), method: :post, remote: true) do %>
           <i class="icon-arrow-up"></i>
          <% end %><br>
        <% end %>
        
        <span id="comment_vote_count_<%= comment.id %>"><%= "#{comment.vote_score} votes" %></span><br>
        
        <% if current_user? %>
          <%= link_to(vote_post_comment_path(comment.post, comment, :vote => false), method: :post, remote: true) do %>
           <i class="icon-arrow-down"></i>
          <% end %><br>
        <% end %>
      </span>
      
      <div class = "well span8">
        <em>"<%= comment.body %>"</em><br>
        
        <% if profile_page? %>
          <small>Posted on <%= link_to comment.post.title , post_path(comment.post) %> on <%= to_human(comment.created_at) %></small>
        <% else %>
          <small>Posted by <%= link_to comment.creator.nil? ? "Unknown" : comment.creator.username , user_path(comment.creator) %> on <%= to_human(comment.created_at) %></small>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>