<% posts = posts.sort_by {|post| post.vote_score}.reverse %>

<% posts.each do |post| %>
  <div class="row">
    
    <span class="span0 well text-center">
      <% if current_user? %>
        <%= link_to(vote_post_path(post, :vote => true), method: :post, remote: true) do %>
          <i class="icon-arrow-up"></i>
        <% end %><br>
      <% end %>
      
      <span id="vote_count_<%= post.id %>"><%= "#{post.vote_score} votes" %></span><br>
      
      <% if current_user? %>
        <%= link_to(vote_post_path(post, :vote => false), method: :post, remote: true) do %>
          <i class="icon-arrow-down"></i>
        <% end %>
      <% end %>
    </span>
    
    <div class="well span6">
      <strong><%= link_to post.title, post_path(post) %></strong>
      
      <% if post.creator == current_user %>
        <smalll>(<%= link_to "edit", edit_post_path(post) %>)</small><br>
      <% else %>
        <br>
      <% end %>
      
      <% post.categories.each do |category| %>
        <%= link_to category.name, category_path(category), class: "badge badgetxt" %>
      <% end %><br><br>
      
      <%= link_to "#{post.comments.count} comments", post_path(post) %>
    </div>
  </div>
<% end %>