<h2><%= link_to "All Posts", posts_path %> &raquo; <%= @post.title %></h2><hr>

<p>description: <%= @post.description %></p>

<p>url: <%= @post.url.nil? ? "n/a" : format_and_link(@post.url) %></p>

<%= render 'comments/new', :object => @comment %><br>

<%= render 'shared/comments', comments: @post.comments %>
