<h2><%= link_to "All Posts", posts_path %> &raquo; <%= @post.title %></h2><hr>

<p>description: <%= @post.description %></p>

<p>url: <%= @post.url.nil? ? "n/a" : format_and_link(@post.url) %></p>

<%= render 'comments/new', :object => @comment %><br>

<% @post.comments.each do |comment| %>
  <% if !comment.created_at.nil? %>
    <div class = "well span8">
      <em>"<%= comment.body %>"</em><br>
      <small>Posted by <%= link_to comment.creator.nil? ? "Unknown" : comment.creator.username , "#" %> on <%= to_human(comment.created_at) %></small>
    </div>
  <% end %>
<% end %>